# Ignore target directories
target/
**/target/

# Ignore Maven specific files
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Ignore STS files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Ignore VS Code files
.vscode/

# Ignore system-specific files
.DS_Store

# Ignore node modules and distribution files
node_modules/
/dist

# Ignore local environment files
.env.local
.env.*.local

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore editor-specific directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?